{{!-- Contiene lista de productos agregados --}}

<div>
    <h1>Lista de productos!</h1>
</div>

<div>
    {{#each products}}
    <div>
        <h4>Titulo: {{this.title}}</h4>
        <h3>Descripcion: {{this.description}}</h3>
        <p>Precio: {{this.price}}</p>
    </div>
    {{/each}}
</div>
